html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0b2434;
  font-family: "Karla", sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
}

main {
  height: 400px;
  max-width: 500px;
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: #2b283a;
  font-size: 2rem;
  letter-spacing: -0.03;
  margin-bottom: 8px;
}

.description {
  margin-top: 8px;
  margin-bottom: 31px;
  width: 300px;
  text-align: center;
  color: #4A4E74;
  font-weight: 400;
  letter-spacing: -0.03;

}

.dice {
  display: grid;
  width: 100%;
  padding: 0 35px;
  grid-template: auto / repeat(5, 1fr);
  gap: 18px;
}

.die {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-self: center;
  cursor: pointer;
}

.die__value {
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: #2b283a;
}

.roll {
  width: 110px;
  height: 40px;
  margin-top: 31px;
  color: #ffffff;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 4px;
  font-size: 1.25rem;
  cursor: pointer;
}

.roll:focus {
  outline: none;
}

.roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
